:root{
    /*-- Couleurs du portfolio --*/
    --footerColor: #333;
    --footerContentColor: white;
    --footerContentColor-hover: rgba(255, 255, 255, 0.666);
}

/* -- Bas de page du portfolio -- */
  
footer{
    padding: 2.2vh 2.16vw 0 2.16vw;
    background-color: var(--footerColor);
    height: auto;
    width: 100vw;
}

footer a{
    color: var(--footerContentColor);
    transition: all 0.5s;
}

#footer{
    border-top: 0.22vh solid var(--footerContentColor);
    padding: 2.2vh;
    display: grid;
    grid-template-columns: 80% 20%;
}

/* Partie gauche du footer */
#footer-left{
    display: flex;
    flex-direction: inline;
    flex-wrap: wrap;
    margin-top: auto;
    margin-bottom: auto;
}

#footer-left a{
    border: none;
    background-color: transparent;
    margin-right: 2.16vw;
    color: var(--footerContentColor);
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}

#footer-left a:last-child{
    margin-right: 0;
}

#footer-left a:hover:not(:first-child), #footer-right a:hover{
    color: var(--footerContentColor-hover);
    transform: scale(1.2);
}

#footer-left a:active:not(:first-child), #footer-right a:active{
    transform: scale(1.05);
}

/* Partie droite du footer */
#footer-right{
    display: flex;
    justify-content: end;
    flex-direction: inline;
    margin-top: auto;
    margin-bottom: auto;
}

#footer-right a{
    margin-right: 2.16vw;
    font-size: 25px;
    color: var(--footerContentColor);
}

#footer-right a:last-of-type{
    margin-right: 0;
}
