@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

:root{
    /*-- Couleurs du portfolio --*/
    --mainColor: #f5f5f5;
    --textColor: rgba(255, 255, 255, 0.85);
    --button: #27ae60;
    --contactColor: black;
    --contactBgInput: rgba(255, 255, 255, 0.75);

    /* Autres */
    --button-height: 5.3vh;
    --icon-size: 1.1vh;
    --loader-size: 5.7vh;
    --containerPercent: #03224C1A;
    --percentProgress: #263246;
    --boxShadowMain: 0 0.7em 1em -0.5em black;
    --boxShadowAbout: 0 0.7em 1em -0.5em var(--percentProgress);
    --imgBanner: url(../img/banner/banner1.jpg);
    --contactImgBanner: url(../img/banner/banner2.jpg);
}

/* -- Contenu du portfolio -- */

/* Page Accueil du portfolio */
#home-img {
    position: relative;
    overflow: hidden;
    height: 100vh;
    border-radius: 0px 0px 50% 50% / 0px 0px 100px 100px;
}
  
.inner-shadow {
    height: 95vh;
    background-size: cover;
    border-radius: inherit;
    box-shadow: var(--boxShadowMain);
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    animation: shutter-in-top 2s linear 0s 1 normal none;
}
@keyframes shutter-in-top {
			
    0% {
        transform:rotateX(-100deg);
        transform-origin:top;
        opacity:0;
    }
    100% {
        transform:rotateX(0deg);
        transform-origin:top;
        opacity:1;
    }
}

#content-home{
    position: absolute;
    bottom: 22vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
}

.translateX{
    transform: translateX(0);
}

#content-home>*{
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    color: var(--textColor);
}

#content-home h1{
    font-size: 4vw;
    transition: 1s;
}

#content-home p{
    font-size: 3vw;
    transition: 1s;
}

#content-home div{
    height: 6.8vh;
}

#content-home a{
    padding: 1.65vh;
    border: 0.25vh solid var(--textColor);
    border-radius: 5px;;
    font-size: 1.5vw;
    margin: auto auto 0 auto;
    background-color: transparent;
    transition: 1s;
    transition: all 0.5s;
    color: var(--textColor);
}

#content-home a:hover{
    transform: scale(1.2);
    background-color: rgba(0, 0, 0, 0.5);
}

#content-home a:active{
    transform: scale(1.1);
}

/* Bannière inter-sections */
.banner{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    background-image: var(--imgBanner); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: var(--boxShadowMain);
    position: relative;
    z-index: 10;
}

.content-banner{
    margin: auto;
    color: var(--textColor);
    width: 100%;
    text-align: center;
}

.content-banner h1{
    margin-bottom: 20px;
}

.content-banner p{
    font-size: 20px;
}

#date-alternance { 
    font-size: 20px;   
    margin-top: 20px;      
}

#quote{
    position: relative;
    top: 0;
    right: 0;
    animation: animateQuote 4s linear infinite;
}
@keyframes animateQuote{
    50%{
        right: 10px;
        top: -20px;
    }
}

.author{
    margin-top: 20px;
    color: #909090;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

/* Contenu de chaque section */
.content{
    padding: 40px;
    position: relative;
    background-color: var(--mainColor);
}

/* Page À propos du portfolio*/
#content-about, #content-skills, #content-projects{
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 100%;
    margin: auto;
}

#content-about h1, #content-skills h1, #content-contact h1, #content-projects h1{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 2.2vh;
    font-size: 4.5vh;
}

/* Partie gauche de la page À propos */
#content-about .content-leftCol{
    margin: auto;
    padding: 4.4vh;
}

#content-about .content-leftCol img{
    border-radius: 20px;
    box-shadow: var(--boxShadowMain);
    display: none;
    width: 300px;
    height: auto;
}

/* Partie droite de la page À propos */
#content-about .content-rightCol{
    margin: 5.5vh;
    height: 100%;
    padding: 4.4vh;
    margin: auto;
    text-align: justify;
}

#content-about .content-rightCol>*{
    margin-bottom: 20px;
}

.subcontent{
    display: flex;
    flex-direction: row;
}

/* Page Compétences du portfolio*/
#content-skills>p, #content-projects>p{
    width: 40%;
    margin: 4.4vh auto;
    text-align: center;
    /* font-size: 2.2vh; */
}

#content-skills .subcontent{
    display: flex;
    justify-content: space-around;
}

/* Partie gauche de la page Compétences */
#content-skills .content-leftCol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: auto;
    padding: 4.4vh;
    font-size: 2.5vh;
}

#content-skills .content-leftCol h3{
    margin: 4.4vh auto auto auto;
    text-transform: uppercase;
}

.skills h4{
    margin: 1.1vh auto 0.55vh auto;
    text-transform: uppercase;
}

/* Barres de pourcentages des compétences */
.content-percent{
    height: 0.88vh;
    background-color: var(--containerPercent);
}

.percent{
    height: 0.88vh;
    background-color: var(--percentProgress);
}

/* Partie droite de la page Compétences */
#content-skills .content-rightCol{
    padding: 4.4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#content-skills .content-rightCol img{
    width: 30vw;
    height: auto;
    border-radius: 8px;
    box-shadow: var(--boxShadowMain);
    margin: auto;
}

/* Bouton pour télécharger le CV */
.download-CV {
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 1.9vh;
    padding: 1.5vh auto;
    margin: 5vh auto;
    color: white;
    background: linear-gradient(0deg, var(--percentProgress) 0%, #4f6da0 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em var(--percentProgress);
    letter-spacing: 0.1vh;
    border-radius: 0.44vh;
    width: 30vh;
    height: 7vh;
    transition: all 0.5s;
}
  
.download-CV i{
    font-size: 3vh;
    margin-right: 0.4vw;
}
  
.download-CV:hover{
    box-shadow: var(--boxShadowAbout);
    transform: scale(1.1);
}

.download-CV:active{
    transform: scale(1.05);
}

.cssbuttons-io-button:active{
    box-shadow: var(--boxShadowAbout);
}

/* Page de projets du portfolio */
#content-projects .subcontent{
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}

/* Affichage des projets */
.content-project{
    height: 50vh;
    width: 50vh;
    margin: 2.2vh;
}

/* Image du projet */
.content-project .container-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.content-project .img-project{
    height: 40vh;
    width: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: var(--image-project);
    border-radius: 8px;
    box-shadow: var(--boxShadowMain);
    display: grid;
    place-items: center;
    position: relative;
}

.content-project .img-project::before {
    content: "";
    background-image: var(--image-project);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(0.44vh);
    -webkit-filter: blur(0.44vh);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 8px;
    box-shadow: var(--boxShadowMain);
}

.content-project .img-project:hover{
    animation: zoom-in-out 0.35s linear 0s 1 normal forwards;
}
@keyframes zoom-in-out {
        
    0% {
        transform:scale(1);
    }
    100% {
        transform:scale(1.05);
    }
}

/* Bouton pour accéder aux informations détaillées du projet - Affichage d'une popup */
.project-button {
    display: inline-block;
    position: absolute;
    text-decoration: none;
    font-size: 2.2vh;
    font-weight: bold;
    color: var(--button);
    padding: 2.2vh 5.5vh;
    border: 0.33vh solid var(--button);
    visibility: hidden;
    opacity: 0;
    background-color: transparent;
    transition: visibility 0.5s, opacity 0.5s, background-color 0.5s linear;
    z-index: -1;
    filter: blur(0);
    cursor: pointer;
}

.img-project:hover .project-button {
    visibility: visible;
    opacity: 1;
    z-index: 1;
}

.project-button::before,
.project-button::after {
    content: '';
    position: absolute;
    width: 4.4vh;
    height: 4.4vh;
    border: inherit;
    transition: width .25s .15s, height .25s;
}

.project-button::before {
    top: -1.65vh;
    left: -1.65vh;
    border-width: 0.33vh 0 0 0.33vh;
}

.project-button::after {
    bottom: -1.65vh;
    right: -1.65vh;
    border-width: 0 0.33vh 0.33vh 0;
}

.project-button:hover::before,
.project-button:hover::after {
    width: calc(100% + 2.9vh);
    height: calc(100% + 2.9vh);
}

/* Titre du projet */
.text-project{
    text-align: center;
}

.text-project>*{
    margin: 0 0.55vh;
    position: relative;
    top: -3vh;
    padding: 0;
}

.text-project h3{
    text-transform: uppercase;
    font-size: 3vh;
}

.text-project span{
    font-size: 2vh;
}

/* Page de contact du portfolio */
#content-contact{
    background-image: var(--contactImgBanner);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 0.22vh solid var(--contactColor);
    width: 100vw;
}

#subcontent-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 20%;
}

#subcontent-contact h1{
    margin: 2.2vh auto;
}

/* Champs du formulaire */
.form-input{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2.2vh;
}

.form-input input{
    background-color: var(--contactBgInput);
    height: 5.5vh;
    width: 100%;
    padding: 3%;
    border: 0.1vh solid var(--contactColor);
    border-radius: 4px;
}

.form-input input:first-of-type{
    margin-right: 20px;
}

.form-input input:focus-visible{
    outline-style: outset;
    border: 0.3vh solid var(--button);
}

/* Champ d'objet */
.object{
    background-color: var(--contactBgInput);
    width: 100%;
    height: 5.5vh;
    margin-bottom: 2.2vh;
    padding: 3%;
    border: 1px solid var(--contactColor);
    border-radius: 4px;
}

.object:focus-visible{
    outline-style: outset;
    border: 0.22vh solid var(--button);
}

/* Champ de message */
#content-contact textarea{
    background-color: var(--contactBgInput);
    height: 28vh;
    width: 100%;
    padding: 3%;
    border: 0.1vh solid var(--contactColor);
    border-radius: 4px;
}

#content-contact textarea:focus-visible{
    outline-style: outset !important;
    border: 0.3vh solid var(--button);
}

/* Bouton d'envoie du mail */
#form-button{
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Permet de cacher les flèches pour incrémenter et décrémenter sur Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Permet de cacher les flèches pour incrémenter et décrémenter sur Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Bouton importé de CodePen : réalisé par Codewithshobhit */
button.expand {
    margin-top: 2.2vh;
	overflow: hidden;
	outline: none;
	background-color: var(--button);
	border-radius: 0.45vh;
	padding: 1.3vh 2.8vh;
	font-size: 2vh;
	border: none;
	color: white;
	cursor: pointer;
	position: relative;
	transition: padding 0.3s;
    width: 30vh;
    height: 5.5vh;
}

.expand-icon {
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	height: var(--button-height);
	width: var(--button-height);
	border-left: 0.1vh solid white;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateX(calc(var(--button-height) + 0.1vh));
	transition: transform 0.3s;
}

.expand-icon > svg {
	height: var(--icon-size);
	width: var(--icon-size);
	transform: scale(1.5);
	transition: transform 0.3s;
}

.expand-icon > svg.second {
	display: none;
	transform: scale(0) translateY(5.5vh);
	transition: transform 0.3s;
}

button.expand:hover,
button.expand.loading {
	padding-right: calc(2.8vh + var(--button-height));
}

button.expand:hover > .expand-icon,
button.expand.loading > .expand-icon {
	transform: translateX(0);
	transition: transform 0.3s 0.05s;
}

button.expand.loading > .expand-icon > svg {
	transform: scale(0);
}

@keyframes rotate {
	0% {
		transform: scale(0.3) rotateZ(0deg);
	}
	100% {
		transform: scale(0.3) rotateZ(360deg);
	}
}

.loader {
	height: var(--loader-size);
	width: var(--loader-size);
	border: 0.44vh solid white;
	border-left-color: transparent;
	border-right-color: transparent;
	background-color: transparent;
	border-radius: 50%;
	animation: rotate 1.5s linear infinite;
	position: absolute;
	right: 0;
	opacity: 0;
	pointer-events: none;
	transition: opacity 1s 0.3s;
}

button.expand.loading > span > span.loader {
	opacity: 1;
}

button.expand.loaded > span > span.loader {
	opacity: 0 !important;
}

button.expand.loaded > .expand-icon > svg.first {
	display: none;
}

button.expand.loaded > .expand-icon > svg.second {
	display: block;
}

button.expand.finished > .expand-icon > svg.second {
	transform: scale(1.5) translateY(0);
}
