/* @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro); */
/* font-family: 'Source Sans Pro', sans-serif; */

:root{
    /*-- Couleurs du portfolio --*/
    --headerColor: white;
    --headerContentColor: black;
    --mainColor: #f3f3f3;
    --footerColor: #333;
    --footerContentColor: white;
    --link-button: #27ae60;

    /* Autres */
    --link-button-height: 48px;
    --icon-size: 10px;
    --loader-size: 52px;
    --toast-color: #5cb85c; /* ! : #f0ad4e -- msg : #337ab7 -- error : #d9534f -- success : #5cb85c*/
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: var(--mainColor);
    position: relative;
    overflow-x:hidden;
}

a{
    color: black;
    text-decoration: none;
}

/* Notifications de messages */
#toast{
    opacity: 0;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.2vh 1.1vh;
    background-color: var(--toast-color);
    border-radius: 0.55vh;
    display: none;
}

#toast-content{
    display: flex;
    flex-direction: row;
    color: white;
}

#icon{
    margin-right: 20px;
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

#icon i{
    color: var(--toast-color);
    margin: auto;
    font-size: 25px;
}

#toast-content p{
    margin-top: auto;
    margin-bottom: auto;
}

/* Flèche pour remonter en haut de la page */
#scroll-arrow{
    position: fixed;
    z-index: 1000;
    bottom: 4vh;
    right: 4vh;
    background-color: rgba(0,0,0,0.6);
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    display: none;
    transition: all 0.2s;
    border: none;
}

#scroll-arrow i{
    color: white;
    margin: auto;
    font-size: 3vh;
    cursor: pointer;
}

#scroll-arrow:hover{
    background-color: rgba(0,0,0,0.5);
    transform: scale(1.2);
}

#scroll-arrow:active{
    transform: scale(1.1);
}

/* Popup du détail des projets */
#popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 2000;
}

#popup::before {
    content: "";
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

#popup-container{
    margin: auto;
    width: 80vw;
    box-shadow: 0 0.7em 1em -0.5em black;
    border-radius: 0.6vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#popup.visible {
    opacity: 1;
    visibility: visible;
}

#popup-header{
    height: 5.5vh;
    background-color: #263246;
    padding: 1.1vh 2.2vh;
    border-top-left-radius: 0.88vh;
    border-top-right-radius: 0.88vh;
    color: white;
    position: relative;
}

#popup-header span{
    font-size: 4vh;
    cursor: pointer;
    position: absolute;
    right: 1.1vh;
    top: 0.55vh;
    margin: auto 0;
    transition: all 0.2s;
}

#popup-header span:hover{
    color: rgba(255, 255, 255, 0.8);
    transform: scale(1.2);
}

#popup-header span:active{
    transform: scale(0.9);
}

#popup-content{
    background-color: #f9f9f9;
    border-bottom-left-radius: 0.88vh;
    border-bottom-right-radius: 0.88vh;
    padding: 2.2vh;
    height: max-content;
}

#popup-content .content{
    display: flex;
    flex-direction: row;
}

#popup-content .subcontent{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 4.4vh 0;
    justify-content: center;
}

#popup-content .subcontent .content-leftCol{
    overflow: hidden;
    margin: 0 2.2vh;
    height: max-content;
    border-radius: 1.65vh;
}

.slider {
    animation: slider-1 16s infinite ease-in-out;
    display: flex;
}

#popup-content .subcontent .content-leftCol .project-img {
    flex-shrink: 0;
    width: 100vw;
    max-width: 100%;
    height: 60vh;
    max-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes slider-1 {
    0%,
    20% {
      transform: translateX(0);
    }
    25%,
    45% {
      transform: translateX(-100%);
    }
    50%,
    70% {
      transform: translateX(-200%);
    }
    75%,
    95% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(-400%);
    }
} 

#popup-content .subcontent .content-rightCol{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4.4vh;
}

#popup-content .subcontent .content-rightCol h1{
    font-size: 5vh;
    margin: 0 auto 2.2vh auto;
}

#popup-content .subcontent .content-rightCol p{
    font-size: 2.5vh;
    margin-bottom: 1.1vh;
}

.languages-used{
    margin: auto auto 0 auto;
}

.languages-used img{
    height: 11vh;
}

/* Bouton pour accéder au lien du projet */
.link-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    background-color: #7effb2;
    background-image: linear-gradient(90deg, #2cd9ff, #7effb2);
    color: #090909;
    font-size: 2.2vh;
    padding: 1.5vh 2.5vh;
    border-radius: 1.1vh;
    isolation: isolate;
    margin: 2.2vh auto;
}

.link-button::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background-image: linear-gradient(90deg, #7effb2, #2cd9ff);
    border-radius: inherit;
    opacity: 0;
    transition: opacity 0.9s,
                transform 1s;
}

.link-button:hover::before {
    opacity: 1;
    transform: scale(1.05);
}

.link-button-icon {
    display: inline-flex;
    font-size: 3vh;
    padding-right: 0.5rem;
    border-right: 0.25vh solid #090909;
}

.link-button-icon i {
    margin-block: auto;
}

/* Affichage en grand des images */
#imgExpand{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 3000;
}

#imgExpand img{
    border-radius: 20px;
    width: auto;
    max-height: 90%;
}

#imgExpand.visible {
    opacity: 1;
    visibility: visible;
}

.expandabled-img, .expandabled-project{
    cursor: pointer;
}

/* Style pour bloquer l'accès aux mobiles */
.mobile-message {
    display: none;
}
  
@media screen and (max-width: 700px) and (min-width: 0){
    /* -- Haut de page du portfolio -- */

    header{
        display: flex !important;
    }

    #header-left{
        display: none;
    }

    #header-right{
        justify-content: center !important;
    }

    #header-right a{
        font-size: 3vh;
    }

    #header-right span:last-child {
        margin-right: 0;
    }
    
    .submenu .img{
        margin-top: 20px;
    }

    .vide{
        display: none;
    }

    /* -- Contenu du portfolio -- */

    /* Page de projets du portfolio */
    .content-project{
        height: 60vh !important;
        width: 60vh !important;
    }
    
    .content-project .img-project{
        height: 50vh !important;
        width: 60vh !important;
    }

    /* Page de contact du portfolio */
    #subcontent-contact{
        margin: auto 5% !important;
    }

    /* Champ de nom et de mail */
    #form-top{
        flex-direction: column;
    }

    .name{
        margin-bottom: 2.2vh;
    }

    /* -- Bas de page du portfolio -- */

    #footer{
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
    }

    #footer-left, #footer-right{
        justify-content: center !important;
    }
}

@media screen and (max-width: 1000px){ /* Mettre entre 250px et 700px */
    /* -- Haut de page du portfolio -- */

    header{
        display: flex !important;
    }

    #header-left{
        display: none;
    }

    #header-right{
        justify-content: center !important;
    }

    #header-right a{
        font-size: 3vh;
    }

    #header-right span:last-child {
        margin-right: 0;
    }

    #header-right .submenu-content{
        font-size: 80%;
    }
    
    .submenu img{
        margin-top: 20px;
    }

    .vide{
        display: none;
    }

    /* -- Contenu du portfolio -- */

    #content-home{
        font-size: 60%;
    }

    #content-home .subcontent, #content-about .subcontent, #content-skills .subcontent{
        display: flex;
        flex-direction: column !important;
    }

    #content-skills p{
        width: 80% !important;
    }

    #content-skills .content-leftCol{
        width: 80% !important;
    }

    #content-skills .content-rightCol img{
        width: 60vw !important;
    }

    /* Page de projets du portfolio */
    .content-project{
        height: 60vh !important;
        width: 60vh !important;
    }
    
    .content-project .img-project{
        height: 50vh !important;
        width: 60vh !important;
    }

    .slider-container .subcontent {
        flex-direction: column !important;
    }

    .arrow{
        display: none !important;
    }

    /* Page de contact du portfolio */
    #subcontent-contact{
        margin: auto 5% !important;
    }

    /* Champ de nom et de mail */
    #form-top{
        flex-direction: column;
    }

    .name, .email{
        margin-bottom: 20px;
    }

    /* Champ de nom et de mail */
    .form-input{
        flex-wrap: wrap;
    }

    .form-input input:first-of-type{
        margin-right: 0px !important;
    }

    /* Popup des projets */
    #popup-content .subcontent{
        display: flex;
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 0;
    }

    #popup-content .subcontent .content-leftCol .project-img {
        height: 30vh;
    }

    #popup-content .subcontent .content-rightCol{
        padding: 2.2vh 2.2vh 0 2.2vh;
    }

    /* -- Bas de page du portfolio -- */
    #footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #footer-left, #footer-right{
        justify-content: center;
    }

    #footer-right a{
        margin-top: 1.1vh;
    }
}
